@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=IBM+Plex+Sans:ital,wght@1,300&family=Lobster+Two:ital,wght@1,700&family=Signika+Negative:wght@500&display=swap");
.height {
  height: 100vh;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #7ba3e9;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}
/* customize css */

.shadow {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(91, 172, 243), rgba(89, 89, 174, 0.695));
  /* border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; */
}
.row {
  position: relative;
  bottom: 35px;
}
.row span p {
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  color: #47494d;
}
.row span {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Signika Negative", sans-serif;
  text-transform: capitalize;
}
.row small {
  border-left: 0.3px solid #d1d5db;
}
