<div class="container">
    <div class="">
        <div class="bg-white shadow border-1 rounded border-light ms-12 p-4 p-lg-3 w-50 mt-4">
            <h3 class="text-center">ATTENDENCE</h3>
            <form class="row" [formGroup]="s" (ngSubmit)="user()">
                <div class="col-md-6">


                    <input type="text" placeholder="Name" class="form-control" formControlName="name"
                        [ngClass]="{'is-invalid': (s.controls.name.touched || isTrySubmit)&& s.controls.name.errors }">
                    <div *ngIf="(s.controls.name.touched ||isTrySubmit) && s.controls.name.errors"
                        class="invalid-feedback">
                        <div *ngIf="s.controls.name.errors['required']">
                            Name is required
                        </div>
                    </div>
                </div>


                <div class="col-md-6">

                    <input type="date" placeholder="DOB" class="form-control" formControlName="dob"
                        [ngClass]="{'is-invalid': (s.controls.dob.touched || isTrySubmit)&& s.controls.dob.errors }">
                    <div *ngIf="(s.controls.dob.touched ||isTrySubmit) && s.controls.dob.errors"
                        class="invalid-feedback">
                        <div *ngIf="s.controls.dob.errors['required']">
                            Date is required
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info mt-2"
                    style="width: 80px;height: 50px;margin: 0 auto;">submit</button>
            </form>
        </div>
    </div>
</div>