@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=IBM+Plex+Sans:ital,wght@1,300&family=Lobster+Two:ital,wght@1,700&family=Signika+Negative:wght@500&display=swap");

#search {
  font-size: 18px;
  color: #a743f3;
}
.book {
  font-size: 35px;
  color: #a743f3;
}

.s {
  background-color: #f4f4f4;
  border: none;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 0.8px;
}
.search {
  position: relative;
  align-items: center;
  justify-content: center;
  background: none;
}
body {
  background: #3577db;
}

.height {
  height: 100vh;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #7ba3e9;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

/* customize css */

.play {
  font-size: 20px;
  color: #a743f3;
  background: #e9d0fa;
  padding: 25px 25px;
  shape-outside: circle();
  clip-path: circle();
}
.meaing {
  position: relative;
  left: 22%;
}
.meaing span {
  letter-spacing: 0.8px;
  color: rgb(160, 149, 149);
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
}
.synonyms span {
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.8px;
  color: rgb(160, 149, 149);
  margin-left: 22%;
}
.list {
  position: relative;
  left: 10%;
}
.source a {
  text-decoration: none;
  font-family: "Signika Negative", sans-serif;
  color: rgba(134, 108, 108, 0.798);
  margin-left: 22%;
}

/* body.dark {
  @include darken();
}
body.light {
  @include lighten();
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bgColor);
  color: var(--textColor);
} */
