<div class="container mt-3">
    <div class="row">
        <div class="col-md-6-lg-6 d-flex justify-content-around">

            <fa-icon class="book icons " [icon]="icons.faBook"></fa-icon>

            <span class="dropdown bg-light p-3 rounded-3">
                <span class=" dropdown-toggle fw-bold " type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Serif
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                <span class="ms-3 text-secondary">|</span>
                <fa-icon class="icons  ms-2" [icon]="icons.faSun" *ngIf="!theme" id="sun" (click)="start()"></fa-icon>
                <fa-icon class="icons ms-2" [icon]="icons.faMoon" *ngIf="theme" id="moon" (click)="start()"></fa-icon>
            </span>


        </div>
        <div class=" col-sm-6-md-8-lg-8 ">
            <!-- <div class="form d-flex ">
                <input type="text" placeholder="search here..." class="s p-3 mt-3">
                <div class="search"> <fa-icon id="search" [icon]="icons.faSearch" (click)="search()"></fa-icon></div>


            </div> -->

            <form [formGroup]="dict" (ngSubmit)="sendToAPIXU(dict.value)">
                <div class="form mt-2" style="margin: 0 auto; width: 60%;cursor: pointer;">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control form-input" placeholder="Search anything..."
                        formControlName="location">
                    <span class="left-pan "><fa-icon class="ms-3" id="search" [icon]="icons.faSearch"
                            (click)="search()"></fa-icon></span>
                </div>


            </form>
        </div>
        <div class="row mt-4 p-3">
            <div class="col-md-6-lg-6">
                <div *ngIf="dictData" class="d-flex justify-content-around">
                    <!-- [(ngModel)]="d.meanings.partOfSpeech"
                    name="partOfSpeech" -->
                    <span *ngFor="let d of dictData;let i = index" class="h2 fw-bold">{{d.word}}</span>
                    <span type="submit" class="p-2"><fa-icon class="play" [icon]="icons.faPlay"></fa-icon></span>


                </div>


            </div>
            <div class="col-md-6-lg-6">
                <div *ngIf="dictData" class=" d-flex justify-content-center align-items-center mt-4">
                    <span *ngFor="let d of dictData;let i = index" class="fw-bold text-dark h4"
                        style="font-family: 'Lobster Two', sans-serif;">{{d.meanings['partOfSpeech']}}</span>

                    <hr width="50%" class="ms-3">


                </div>
                <div class="col-md-6-lg-8">
                    <div class="meaing d-flex justify-content-start">
                        <span>Meaning</span>
                    </div>
                    <div class="mt-3">
                        <div class="d-flex justify-content-center align-items-center">
                            <ul class="list" style="font-family: 'IBM Plex Sans', sans-serif;font-size: 1.1rem;">
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li><br>
                                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque eveniet obcaecati
                                    ad
                                    quisquam quia, !</li>
                            </ul>

                        </div>
                        <div class="synonyms d-flex justify-content-start">
                            <span>synonyms:</span>
                            <span class="ms-3 fw-bold " style=" color: #a743f3;">dfdf</span>
                        </div>


                    </div>



                    <div class=" m-3 d-flex justify-content-center align-items-center">
                        <span class="fw-bold text-dark h4" style="font-family: 'Lobster Two', sans-serif;">Verb</span>

                        <hr width="50%" class="ms-3">


                    </div>
                    <div class="meaing">
                        <span>Meaning</span>
                    </div>
                    <!-- *ngFor="let item of dictData" -->
                    <div class="d-flex justify-content-center align-items-center">
                        <ul style="font-family: 'IBM Plex Sans', sans-serif;font-size: 1.1rem;">
                            <li>when you master it you always got the lost laugh</li><br>
                            <p>just binding the data </p>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-center align-items-center ">
                        <hr width="50%">
                    </div>
                    <div class="source">
                        <a href="https://dictionaryapi.dev/"> API-source: "https://dictionaryapi.dev/"<fa-icon
                                class="ms-1" [icon]="icons.faLink" style="color: #a743f3;"></fa-icon></a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>