<div class="container  mt-3">
    <div class="row p-3 bg-light shadow-lg">
        <div class="col-md-2">
            <h3 class="h3 fw-bold fs-4" style="letter-spacing: 1px;">Sneakers</h3>
        </div>
        <div class="col-md-5 d">
            <div class="d-flex justify-content-around fs-6 mt-1"
                style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                <span>Collections</span>
                <span>Men</span>
                <span>Women</span>
                <span>About</span>
                <span>Contact</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex justify-content-end mt-1" style="margin: 0 auto;">
                <fa-icon class="icons" [icon]="icons.faCartShopping"></fa-icon>
                <div class="ms-2"><img src="https://tr.rbxcdn.com/46b2c4b77f50304f74a14df41b396c0e/420/420/Image/Png"
                        class="img ms-4  " alt="user" style="width: 40px;position: relative;bottom: 7px;">
                </div>

            </div>
        </div>
    </div>
    <div class="p-3 mt-3">
        <div class="row p-3">
            <div class="col-md-6 p-3">
                <div class="p-2">
                    <!-- <h3></h3> -->
                    <img class="sealImage rounded" src="../../assets/image-product-1.jpg" style="width: 80%;">
                    <!-- https://avatarfiles.alphacoders.com/216/216423.png -->
                </div>
                <div class="slide d-flex justify-content-start p-2  gap-4">
                    <img src="../../assets/image-product-1.jpg">
                    <img src="../../assets/image-product-2.jpg">
                    <img src="../../assets/image-product-3.jpg">
                    <img src="../../assets/image-product-4.jpg">


                </div>

            </div>
            <div class="col-md-6 p-3">
                <div class="p-3">
                    <p class="fw-bold p-1 mb-1"
                        style="text-transform: uppercase;color: rgb(255 125 27);letter-spacing: 1.5px;font-size: 12px;">
                        Sneaker company</p>

                    <h3 class="p-1 fw-bold " style="letter-spacing: 1px;">Fall Limited Edition<br>Sneakers</h3>
                    <p class="p-1 mt-1"
                        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;">These low
                        profile Sneaker are your perfect casual wear companion. Featuring a
                        durable rubber outer sole, they i'll withstand everything the weather can offer.</p>
                    <div class="d-flex justify-content-start mt-2 ">
                        <p class="h4 fw-bold">$125.00</p>
                        <span class="fw-bold  ms-2  p-1"
                            style="background: rgba(245, 231, 204, 0.596);color: rgb(255 125 27); border-radius: 10px; width: 40px;height: 35px;">50%</span>
                    </div>
                    <p class="fw-bold text-decoration-line-through text-secondary " style="font-size: 14px;">$250.00
                    </p>
                    <div class="col-md-8 d-flex justify-content-between">
                        <div class="d-flex gap-5 p-2 bg-light fw-bold fs-5 shadow-sm" style="cursor: pointer;">

                            <span style="color:rgb(255 125 27)" (click)="clickout()">-</span>
                            <span>{{clickCount}}</span>
                            <span style="color:rgb(255 125 27)" (click)="click()">+</span>
                        </div>
                        <div class="">

                            <span class="btn text-white fw-bold shadow-lg mt-2"
                                style="background:rgb(255 125 27);"><fa-icon class="icons p-1"
                                    [icon]="icons.faCartShopping"></fa-icon>Add
                                to Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>