.row {
  height: 400px;
  width: 50%;
  box-shadow: rgba(218, 184, 184, 0.1) 0px 1px 1px 0px;
  /* background: blue; */
}
#result {
  position: relative;
  background: linear-gradient(rgb(60, 60, 238), rgb(34, 127, 235));
  border-radius: 10px;
  z-index: 1;
  /* left: 10px; */
}
#Summary {
  background: #fff;
  /* border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; */
  border-radius: 10px;
}
.circle {
  position: relative;
  margin: 0 auto;
  background: linear-gradient(
    rgba(32, 32, 241, 0.822),
    rgba(72, 72, 235, 0.61)
  );
  height: 150px;
  width: 150px;
  border-radius: 75px;
}
.circle h3 {
  position: relative;
  text-align: center;
  top: 40px;
}
.circle h3 p {
  bottom: 8px;
}
.r {
  background-color: rgba(255, 221, 221, 0.418);
  border-radius: 10px;
  padding-top: 8px;
}
.m {
  background-color: rgba(253, 225, 146, 0.281);
  border-radius: 10px;
  padding-top: 8px;
}
.v {
  background-color: rgba(117, 248, 150, 0.219);
  border-radius: 10px;
  padding-top: 8px;
}

.v1 {
  background-color: rgba(117, 141, 248, 0.219);
  border-radius: 10px;
  padding-top: 8px;
}
